@charset "utf-8";
/* CSS Document */

/* shell for brands */
.shell { width: 890px; margin: 0 auto; }


/* services div */
.service { background-color:#FFC; height:500px;  }
.service h2 { float: left; font-size: 22px; font-weight: normal; padding-bottom: 15px; padding-left: 3px; color: #3c2323; }
.service a.all-servicess { float: right; font-size: 14px; margin-right: 12px; }
.service .boxess { margin: 0 -8px 0 -2px; position: relative; width: 950px; height:250px; }  
.service .boxs { width: 214px; float: left; position: relative; }
.service .boxs + .boxs { padding-left: 14px;  }

.service .boxs a { float: left; background: #000 url(images/box.png) repeat-x 0 0; padding: 3px 3px 6px 3px;
 box-shadow: 5px 5px 5px rgba(0,0,0,0.1); -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1); -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
 border-radius: 6px; -moz-border-radius:64px; -webkit-border-radius: 6px; -o-border-radius: 6px; }
.service .boxs a img { width: 208px; height: 100px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; }
.service .boxs h3 { text-align: center; font-size: 14px; }
.service .boxs a h3 { color: #fff;  }
.service .boxs a:hover { text-decoration: none; background-position: 0 bottom; height:100%; background-color: #c91616;  }
/* end of services */

/* main div */
.maint { background: url(images/main.png) repeat-x 0 0; padding-top: 32px; padding-bottom: 28px; }
.maint p { padding-bottom: 20px; }

.contentt { width: 595px; float: left; }
.contentt h2 { padding-bottom: 25px; }

asides { width: 225px; float: right; }
asides h2 { padding-bottom: 14px; }
asides .widgets { padding-bottom: 28px;  }
asides .imgu-holder { margin-right: 14px;  float: left; width: 59px; height: 59px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; border: 1px solid #fff; 
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3); -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3); -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3); -o-box-shadow: 3px 3px 3px rgba(0,0,0,0.3); }
asides .imgu-holder:hover { border-color: #cc1515;   }
asides .imgu-holder img { width: 59px; height: 59px; display: block;  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
/* end of main */
